[Desktop Entry]
Type=Application
Exec=/bin/sh -c 'sleep 5; killall -9 gnome-keyring-daemon'
Hidden=false
Terminal=false
Name=Killall gnome-keyring-daemon
Comment=
