*.netrwhist
.netrwhist
*.viminfo
.viminfo
*.bash_history
.bash_history*
sessions/
bundle/
*.viminfo
.viminfo
*.vim_mru_files
.vim_mru_files
*.pythonhist
.pythonhist
*.vim-fuf-data/
.vim-fuf-data/
*.xsession-errors
.xsession-errors
gtkfilechooser.ini
*~
.*~
