#
# ~/.xprofile
#
# sourced by /etc/lxdm/Xsession
#

# execute dbus-launch with gpg-agent
if which dbus-launch >/dev/null && test -z "$DBUS_SESSION_BUS_ADDRESS"; then
    eval "$(dbus-launch --sh-syntax --exit-with-session gpg-agent --sh --enable-ssh-support --daemon)"
fi

# include ~/.xsessionrc if it exists
if [ -x ~/.xsessionrc ]; then
    . ~/.xsessionrc
fi
