[Desktop Entry]
Name=Uninstall iRoot
Exec=env WINEPREFIX="/home/jmanoel7/.wine" wine C:\\\\windows\\\\command\\\\start.exe /Unix /home/jmanoel7/.wine/dosdevices/c:/users/Public/Start\\ Menu/Programs/iRoot/Uninstall\\ iRoot.lnk
Type=Application
StartupNotify=true
Path=/home/jmanoel7/.wine/dosdevices/c:/Program Files/iRoot
Icon=DC7F_unins000.0
