<?xml version="1.0" encoding="UTF-8"?>

<openbox_menu xmlns="http://openbox.org/"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://openbox.org/
                file:///usr/share/openbox/menu.xsd">

<menu id="root-menu" label="Openbox 3">
  <menu id="fav-menu" label="Favoritos">
    <item label="Terminal">
      <action name="Execute"><execute>terminal.sh</execute></action>
    </item>
    <item label="File Manager">
      <action name="Execute"><execute>thunar</execute></action>
    </item>
    <item label="Editor">
      <action name="Execute"><execute>gvim</execute></action>
    </item>
    <item label="Eclipse">
      <action name="Execute"><execute>eclipse-IDE</execute></action>
    </item>
    <item label="Firefox Stable">
      <action name="Execute"><execute>firefox-stable</execute></action>
    </item>
    <item label="Firefox Developer">
      <action name="Execute"><execute>firefox-dev</execute></action>
    </item>
  </menu>
  <!-- This requires the presence of the 'menu' package to work -->
  <menu id="/Debian" />
  <separator />
  <menu id="client-list-menu" />
  <separator />
  <item label="ObConf">
    <action name="Execute"><execute>obconf</execute></action>
  </item>
  <item label="Reconfigure">
    <action name="Reconfigure" />
  </item>
  <item label="Restart">
    <action name="Restart" />
  </item>
  <separator />
  <item label="Exit">
    <action name="Exit" />
  </item>
</menu>

</openbox_menu>
