[Desktop Entry]
Version=1.0
Name=ChatZilla
Name[pt_BR]=ChatZilla
Comment=Chat with other people using Internet Relay Chat
Comment[pt_BR]=Converse com outras pessoas usando Internet Relay Chat
GenericName=IRC Client
GenericName[pt_BR]=Cliente de IRC
Keywords=chat;xchat;x-chat;irc
Exec=/home/jmanoel7/bin/chatzilla.sh %u
Terminal=false
Type=Application
Icon=/home/jmanoel7/.icons/chatzilla.xpm
Categories=GTK;Network;IRCClient;
MimeType=x-scheme-handler/irc;x-scheme-handler/ircs;
StartupNotify=true
X-GNOME-UsesNotifications=true
