#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=Ruby (IRB)
Exec=/opt/google/chrome/google-chrome --profile-directory=Default --app-id=mdoifndjjoblccpefkbdicgahkbbcfdk
Icon=chrome-mdoifndjjoblccpefkbdicgahkbbcfdk-Default
StartupWMClass=crx_mdoifndjjoblccpefkbdicgahkbbcfdk
