#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=Text
Exec=/usr/lib/chromium/chromium --profile-directory=Default --app-id=mmfbcljfglbokpmkimbfghdkjmjhdgbg
Icon=chrome-mmfbcljfglbokpmkimbfghdkjmjhdgbg-Default
StartupWMClass=crx_mmfbcljfglbokpmkimbfghdkjmjhdgbg
