#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=Cocos2dx Test App
Exec=/usr/lib/chromium/chromium --profile-directory=Default --app-id=hbnepalailfleigebaanjnoiapedgcpn
Icon=chrome-hbnepalailfleigebaanjnoiapedgcpn-Default
StartupWMClass=crx_hbnepalailfleigebaanjnoiapedgcpn
