[Desktop Entry]
Type=Application
Name=Eclipse
Comment=Eclipse Integrated Development Environment
Icon=/home/jmanoel7/.icons/eclipse-IDE.xpm
Exec=eclipse-IDE
Terminal=false
Categories=Development;IDE;Java;
