[Desktop Entry]
Encoding=UTF-8
Name=Eclipse
GenericName=IDE
Comment=Eclipse IDE
Exec=/usr/local/eclipse/eclipse -vm /usr/local/java/default/bin/java %u
Icon=/usr/local/eclipse/icon.xpm
Terminal=false
Type=Application
StartupNotify=true
MimeType=text/plain;
Categories=Application;Editor;Development;Java;IDE;
Keywords=Text;Editor;IDE;
