[Desktop Entry]
Type=Application
Name=Stop Faraday IPE
GenericName=Collaborative Penetration Test IDE
Comment=
Icon=/home/joaomanoel/.icons/custom/faraday.png
Exec=/home/joaomanoel/bin/faraday-stop.sh
Terminal=true
Categories=Security;IPE;Python;System;Utility;
