[Desktop Entry]
Type=Application
Name=Stop Faraday IPE
GenericName=Collaborative Penetration Test IDE
Comment=
Icon=/home/jmanoel7/.icons/faraday.png
Exec=/home/jmanoel7/bin/faraday-stop.sh
Terminal=true
Categories=Security;IPE;Python;System;Utility;
