[Desktop Entry]
Name=Git GUI
Name[pt_BR]=Git com Interface Gráfica
GenericName=Git Control Version
GenericName[pt_BR]=Controle de Versão Git
Comment=Manage your source codes with Git
Comment[pt_BR]=Gerencie seus códigos-fonte com Git
Exec=git gui
Icon=/home/joaomanoel/.icons/git-gui
StartupNotify=false
Terminal=false
Type=Application
Categories=Development;Git;
