#! /usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Encoding=UTF-8
Type=Application
Name=IRPF 2015 1.2
Comment=Declaração do IRPF 2015 1.2
Icon=/home/jmanoel7/ProgramasRFB/IRPF2015/RFB.png
Exec=java -jar /home/jmanoel7/ProgramasRFB/IRPF2015/irpf.jar
Terminal=false
