#! /usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Encoding=UTF-8
Type=Application
Name=Desinstalar o IRPF 2015 1.2
Comment=Desinstalador do IRPF 2015 1.2
Icon=/home/joaomanoel/ProgramasRFB/IRPF2015/RFB.png
Exec=java -jar /home/joaomanoel/ProgramasRFB/IRPF2015/Uninstaller/uninstaller.jar
Terminal=false
