#! /usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Encoding=UTF-8
Type=Application
Name=IRPF 2012 1.3
Comment=Declaração do IRPF 2012 1.3
Icon=/home/jmanoel7/ProgramasRFB/IRPF2012/RFB.png
Exec=java -jar /home/jmanoel7/ProgramasRFB/IRPF2012/irpf.jar
Terminal=false
