[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=Kega Fusion
Type=Application
GenericName=Sega systems Emulator
Comment=An emulator of various Sega systems of the 8, 16 and 32-bit era
Icon=/home/joaomanoel/.icons/custom/kega-fusion.png
Exec=kega-fusion
Categories=Games;
Path=/home/joaomanoel/Games
Terminal=false
StartupNotify=false
