[Desktop Entry]
Encoding=UTF-8
Name=Komodo Edit 9
GenericName=Editor
Comment=Free multi-platform editor that makes it easy to write quality code.
Exec=/home/jmanoel7/.local/komodo-edit-9/lib/mozilla/komodo %u
Icon=/home/jmanoel7/.local/komodo-edit-9/share/icons/komodo48.png
Terminal=false
Type=Application
MimeType=text/plain;
Categories=ActiveState;Application;Development;Editor;Utility;TextEditor;
