#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Type=Application
Name=Minecraft
Comment=Play Minecraft
Exec=minecraft.sh
Icon=minecraft.png
Terminal=false
StartupNotify=false
#StartupWMClass=minecraft
Categories=Games;
