#!/usr/bin/env xdg-open
[Desktop Entry]
Encoding=UTF-8
Name=Spacemacs
GenericName=Editor
Comment=Edit files with Spacemacs
Exec=/home/joaomanoel/.local/bin/spacemacs.sh %F
TryExec=/usr/bin/emacs
Icon=/home/joaomanoel/.icons/spacemacs.png
Terminal=false
Type=Application
StartupNotify=false
MimeType=text/plain;
Categories=Application;Editor;Development;IDE;
Keywords=Text;Editor;IDE;
