[Desktop Entry]
Name=SSL/SSH VNC Viewer
Comment=SSVNC - access remote VNC desktops
Exec=/home/joaomanoel/.local/bin/ssvnc -noenc
Icon=computer
Terminal=false
Type=Application
StartupWMClass=Ssvnc.tcl
Categories=Network;RemoteAccess;
