[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
NoDisplay=true
Exec=/home/jmanoel7/.local/firefox-dev/firefox %u
Name=Firefox Developer Edition
Comment=Definição personalizada para Firefox Developer Edition
