[Desktop Entry]
Type=Application
Name=Wine Internet Explorer
MimeType=image/png;
Exec=env WINEPREFIX="/home/joaomanoel/.wine" wine-development start /ProgIDOpen pngfile %f
NoDisplay=true
StartupNotify=true
Icon=FB4C_iexplore.0
