[Desktop Entry]
Type=Application
Name=wordpad
MimeType=application/rtf;
Exec=env WINEPREFIX="/home/jmanoel7/.wine" wine-development start /ProgIDOpen rtffile %f
NoDisplay=true
StartupNotify=true
Icon=2EF4_wordpad.0
